.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.contact-info > div {
  flex: 1;
  background-color: #f5f5f5;
  padding: 20px;
  margin: 0 10px; /* Equal spacing between columns */
  border-radius: 8px;
  text-align: center;
}

.contact-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 16px;
  margin: 5px 0;
}

.contactForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contactForm label {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #232323;
  margin-bottom: 5px;
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 6px;
  border: solid 1px #e8e8e8;
  margin-bottom: 20px;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #232323;
}

.contactForm textarea {
  height: 183px; /* Consistent height for textarea */
}

.contactForm button {
  height: 50px;
  background-color: #729343;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contactForm button:hover {
  background-color: #5a7729;
}

.map-section {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
}
